{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^@/assets/(.*)$",
    "^@/components/(.*)$",
    "^@/types/(.*)$",
    "^@/utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "none"
}
