{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components(/.*)?$",
    "^@/constants(/.*)?$",
    "^@/services(/.*)?$",
    "^@/styles(/.*)?$",
    "^@/types(/.*)?$",
    "^@/utils(/.*)?$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
